VERYFI_CLIENT_ID=
VERYFI_USERNAME=
VERYFI_API_KEY=
NEXT_PUBLIC_AI_ENABLED=true
NEXT_PUBLIC_BOT_CHAIN_ID=677
NEXT_PUBLIC_BOT_CONTRACT_ADDRESS=0x1f04BA244bfDAc7db33061eA88DEE66eD7AFB2Da
NEXT_PUBLIC_BOT_RPC=https://rpc.botchain.ai
NEXT_PUBLIC_BOT_EXPLORER=https://scan.botchain.ai
